<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Spring Boot Contacts</title>
    <link rel="stylesheet" th:href="@{css/style.css}" />
    <link rel="stylesheet" th:href="@{bootstrap4/css/bootstrap.min.css}" >
</head>

<body>

    <h3>Create a Service:</h3>
    <form method="post" th:action="@{/guide/{id}/create(id=${guideId})}">
        <label>Location:</label>
        <input type="text" name="location"/><br/>
        <label>Description:</label>
        <input type="text" name="description"/><br/>
        <input type="submit"/>
    </form>

<a class ="btn btn-info" th:href="@{/}">Back to Homepage</a>

<script th:src="@{jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{bootstrap4/js/bootstrap.js}"></script>
</body>
</html>