<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html"/>
        <title>Title</title>
        <link rel="stylesheet" th:href="@{css/style.css}" />
    </head>

    <body>
        <h2>Spring Boot Contacts</h2>
        <form method="POST">
            <label>First Name:</label>
            <input type="text" name="firstName"/><br/>
            <label>Last Name:</label>
            <input type="text" name="lastName"/><br/>
            <label>Phone #:</label>
            <input type="text" name="phoneNumber"/><br/>
            <label>Email:</label>
            <input type="text" name="emailAddress"/><br/>
            <input type="submit"/>
        </form>
    </body>
</html>