<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html"/>
        <title>Tour Guide Home</title>
        <link rel="stylesheet" th:href="@{css/style.css}" />
    </head>

    <body>
        <h1>Welcome to Tour Guide</h1>
        <form method="GET" action="$@{/signin}">
            <input type="submit" value="Sign In"/>
        </form>

        <form action="@{/signup}">
            <input type="submit"/>
        </form>
    </body>
</html>