<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html"/>
        <title>Title</title>
        <link rel="stylesheet" th:href="@{css/style.css}" />
    </head>

    <body>
        <h2>Sign Up</h2>
        <form method="POST">
            <label>First Name:</label>
            <input type="text" name="firstName"/><br/>
            <label>Last Name:</label>
            <input type="text" name="lastName"/><br/>
            <label>Phone #:</label>
            <input type="text" name="phoneNumber"/><br/>
            <label>Email:</label>
            <input type="text" name="emailAddress"/><br/>
            <label>Already a member?</label>
            <a type="button" th:href="@{/signin}">Sign in</a><br/>
            <label>Sign Up</label>
            <input type="submit"/>
        </form>
    </body>
</html>